Source: makehuman-community-plugins-assetdownloader
Section: graphics
Priority: optional
Maintainer: Joel Palmius <joepal1976@hotmail.com>
Build-Depends: devscripts, debhelper (>=9)
Standards-Version: 3.9.5
Homepage: http://www.makehumancommunity.org

Package: makehuman-community-plugins-assetdownloader
Architecture: all
Depends: ${misc:Depends}, makehuman-community, makehuman-community-plugins-mhapi
Description: Asset downloader functionality for MakeHuman.
 This plugins provides a UI for downloading assets.


